<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Visio_Multi_Page_Layer_Selector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Visio_Multi_Page_Layer_Selector.Properties.Settings>
            <setting name="defaults" serializeAs="String">
                <value />
            </setting>
            <setting name="subCatergories" serializeAs="String">
                <value />
            </setting>
            <setting name="show_visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_print" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_lock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_snap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_glue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="panel_width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="myDefaults_list" serializeAs="String">
                <value />
            </setting>
            <setting name="myFavorites_list" serializeAs="String">
                <value />
            </setting>
            <setting name="panel_height" serializeAs="String">
                <value>300</value>
            </setting>
        </Visio_Multi_Page_Layer_Selector.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
